@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
.fullBg {
  width: 100%;
  height: 100vh;
  background: url(../../public/images/background3.jpg);
  background-size: cover;
  background-attachment: fixed;
}

nav ul .li {
  font-size: 0.9rem;
  cursor: pointer;
}
nav ul .li:hover {
  color: rgb(139, 0, 0);
  transition: 0.3s;
}
.footer ul li {
  cursor: pointer;
  margin: 6px 0px;
  padding: 2px 0px;
}
.footer ul li:hover {
  transform: translateX(7px);
  transition: 0.3s;
}

.btnShadow {
  box-shadow: 1px 5px 15px rgb(55, 1, 1);
}

/* gradient btn styling  */
.gradientBtn {
  background: rgb(75, 12, 4);
  background: linear-gradient(
    135deg,
    rgba(75, 12, 4, 1) 29%,
    rgba(219, 158, 3, 1) 100%
  );
}
.elmTransition {
  transition: all;
  transition-duration: 0.1s;
}

.rotatingAnim {
  animation: rotateAnim 50s infinite linear;
}
@keyframes rotateAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* priceCard setting */
.priceCard:hover > img {
  /* transform:  rotate(180deg); */
  transition: 0.3s;
  animation: priceCardAnim 50s infinite linear;
}

@keyframes priceCardAnim {
  0% {
    transform: translateX(-50%) rotate(0deg) scale(1);
  }
  100% {
    transform: translateX(-50%) rotate(360deg) scale(1.03);
  }
}

/* latteGrand card  */
@media screen and (min-width: 1024px) {
  .latteGrandCard:hover > img {
    animation: latteGrandCardAnim 50s infinite linear;
  }
  @keyframes latteGrandCardAnim {
    0% {
      transform: scale(1.3) rotate(0deg);
    }
    100% {
      transform: scale(1.3) rotate(360deg);
    }
  }
}
